.favorites-container {
  display: flex;
}
.no-content {
  text-align: center;
  color: white;
}
@media (max-width: 980px) {
  .favorites-container {
    display: grid !important;
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 850px) {
  .favorites-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 680px) {
  .favorites-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 520px) {
  .favorites-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
