<mat-card class="card">
  <mat-card-header>
    <mat-card-title *ngIf="dayForecast; else cityTitle">{{
      getDay(dayForecast.date)
    }}</mat-card-title>
    <ng-template #cityTitle>
      <div>
        <mat-card-title>{{ cityDetails.name }} </mat-card-title>
      </div>
      <div>
        <img
          [src]="heartImage"
          alt="heart"
          (click)="removeFromFavorites(cityDetails)"
        />
      </div>
    </ng-template>
  </mat-card-header>
  <img
    *ngIf="dayForecast"
    mat-card-image
    [src]="getImage(dayForecast.phrase)"
    alt="Card Image"
    class="card-image"
  />
  <img
    *ngIf="cityDetails"
    mat-card-image
    [src]="getImage(cityDetails.currentWeather.currentWeather.WeatherText)"
    alt="Card Image"
    class="card-image"
  />
  <mat-card-content class="content-container">
    <div class="phrase">
      <p *ngIf="dayForecast">{{ dayForecast.phrase }}</p>
      <p *ngIf="cityDetails">
        {{ cityDetails.currentWeather.currentWeather.WeatherText }}
      </p>
    </div>

    <div class="day">
      <span *ngIf="dayForecast">
        {{ convertTemperature(dayForecast.maxTemperature) }}</span
      >
      <span *ngIf="cityDetails">
        {{
          convertTemperature(
            cityDetails.currentWeather.currentWeather.ApparentTemperature
              .Imperial.Value
          )
        }}</span
      >
    </div>
    <img
      mat-card-image
      [src]="displayMeasureSystem"
      class="symbol"
      alt="symbol"
    />
    <div class="night" *ngIf="dayForecast">
      {{ convertTemperature(dayForecast.minTemperature) }}
    </div>
  </mat-card-content>
</mat-card>
